In [78]:
import pgeocode
import pandas as pd
import numpy as np

In [79]:
df = pd.read_csv('toronto_neighbourhoods.csv')

In [80]:
nomi = pgeocode.Nominatim('ca')

In [81]:
postal_codes = df['postal_code'].to_list()

In [82]:
lat =  []
long = []

for postal_code in postal_codes:
    
    location = nomi.query_postal_code(postal_code)
    lat.append(location.latitude)
    long.append(location.longitude)

In [83]:
df['latitude'] = lat
df['longitude'] = long

In [84]:
df[df['latitude'].isna()]

,postal_code,borough,neighbourhoods,latitude,longitude
139,M7R,Mississauga,Canada Post Gateway Processing Centre,NaN,NaN

In [85]:
df = df[df['latitude'].notnull()]

In [86]:
df.head()

  postal_code           borough    neighbourhoods  latitude  longitude
0         M3A        North York         Parkwoods   43.7545   -79.3300
1         M4A        North York  Victoria Village   43.7276   -79.3148
2         M5A  Downtown Toronto       Regent Park   43.6555   -79.3626
3         M5A  Downtown Toronto      Harbourfront   43.6555   -79.3626
4         M6A        North York    Lawrence Manor   43.7223   -79.4504

In [87]:
df.to_csv('toronto_neighbourhoods.csv',index=False)